@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font added */

*{
margin: 0;
padding: 0;
box-sizing: border-box; 
list-style: none; 
text-decoration: none;

outline: 1px solid red;
outline-offset: -1px;
}

body{
  scroll-snap-type: y mandatory;
}

section{
  scroll-snap-align: start;
}

.container{
  width: 80%;
  margin: 0 auto;
}

.logo{
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
}

.heading{
  font-family: Bebas Neue;
  font-size: 80px;
  font-weight: 700;
  line-height: 120%;
  color: rgb(54, 57, 88);
  margin-bottom: 1rem;
}

.title{
  color: rgb(54, 57, 88);
  font-family: Bebas Neue;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 3rem;
}

.card-title{
  color: rgb(54, 57, 88);
  font-family: poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
}

.para{
  color: rgb(62, 62, 62);
  font-family: poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 2rem;
}

button{
  color: rgb(255, 255, 255);
  font-family: poppins;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  text-transform: uppercase;
  padding: 18px 32px;
  cursor: pointer;
  background: linear-gradient(0.00deg, rgb(204, 167, 4),rgb(250, 190, 76) 100%);
}

.brand{
  color: rgb(250, 190, 76);
}

.bg1{
  background: rgb(255, 251, 240);
}

bg2{
  border-radius: 20px;
  background: rgb(241, 241, 241);
}

.flex{
  display: flex;
}

.ds-hidden{
  display: none;
}

/* global css ends */

nav{
  justify-content: space-between;
  padding: 2.25rem 0;
  align-items: center;
}

.logo-container{
  align-items: center;
  gap: 1rem;
}

.logo-container img{
  width: 80px;
}

nav ul{
  gap: 3rem;
}

.banner{
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3%;
}

.banner-text p{
  max-width: 70%;
}

.banner-img{
  width: 40%;
}
.banner-img img{
  width: 100%;
}



















@media screen and (max-width:576px) {
  .container{
    max-width: 90%;
  }
  .mb-hidden{
    display: none;
  }
  .ds-hidden{
    display: block;
  }
  .heading{
    font-size: 57px;
  }
  .banner{
    flex-direction: column;
  }
  .banner-img{
    margin-top: 3rem;
    width: 100%;
  }
}